@import "src/styles/templates";

.group {
  &.verySuitable {
    --bg-red: 23;
    --bg-green: 201;
    --bg-blue: 16;
  }

  &.fitWell {
    --bg-red: 83;
    --bg-green: 152;
    --bg-blue: 80;
  }

  &.badFit {
    --bg-red: 252;
    --bg-green: 161;
    --bg-blue: 15;
  }

  &.absolutelyNotSuitable {
    --bg-red: 255;
    --bg-green: 0;
    --bg-blue: 0;
  }
}
