@import "src/styles/templates";

article.biomeArticle {
  font-size: 1em;

  h3 {
    @apply font-bold text-[1.15em] mb-[.5em];
  }

  p.biomeItem {
    @extend %notSelectable;

    display: flex;
    gap: .5em;
    align-items: center;
  }
}
