@import "src/styles/templates";

.switch {
  @extend %flexCenter;
  @extend %notSelectable;

  @apply bg-gray-300 bg-opacity-25 px-[1em] py-[.25em] inline-flex border-2 border-gray-300;

  cursor: pointer;
  border-radius: .25em;
  gap: .75em;

  @media (max-width: 860px) {
    justify-content: space-between !important;

    &:not(.filterReset) {
      display: flex;
    }

    img {
      margin: 0 !important;
    }
  }

  // 'flex gap-[.75em] justify-center items-center'

  transition: .15s ease background-color,
              .15s ease border-color;

  img {
    @apply mx-auto;
  }

  &.enabled {
    @apply bg-blue-500 bg-opacity-25 px-[1em] py-[.25em] inline-flex border-2 border-blue-500;
  }

  &.filterReset {
    border-width: 0;

    &:hover {
      @apply bg-blue-700 bg-opacity-100 px-[1em] py-[.25em] inline-flex text-white;
    }
  }
}
