section.card {
  h3 {
    @apply font-bold text-[1.15em] mb-[.5em];
  }

  &:not(:last-of-type) {
    @apply pb-[1em] mb-[1em];

    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  header.title {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: .75em;
  }
}
